---
ssh_root:
    - "{{ lookup('file', 'files/admins.pub') }}"

snmp_syslocation: "USA"
snmp_ipsubnet:    "172.16.0.0/16"

nameservers:
  - "8.8.8.8"
  - "8.8.4.4"

ntpservers:
  - ""

access_key: "_INSERT KEY HERE_"
secret_key: "_INSERT SECRET HERE_"

awskeypair_name: "keypairname"
image: "ami-9d04e4e5"
region: "us-west-2"
vpc_subnet_id: "subnet-ID-number"

NODE_FULLNAME: "_INSERT NODENAME_"
NODE_ADMIN_EMAIL: "_INSERT@EMAIL_"

NETSTATS_SERVER: "_INSERT SERVERNAME_"
NETSTATS_SECRET: "_INSERT SECRET_"

MINING_KEYFILE: "_INSERT_"
MINING_ADDRESS: "_INSERT_"
MINING_KEYPASS: "_INSERT_"

SCRIPTS_BRANCH: "sokol"
DAPPS_BRANCH: "master"
IKEYS_BRANCH: "master"

TX_GAS_LIMIT: "6700000"

NODE_PWD: "node.pwd"

parity_nouncles: "https://transfer.sh/PhhDc/parity"


#bootnode
bootnode_instance_type: "t2.large"
bootnode_instance_name: "bootnode"
bootnode_count_instances: "1"
bootnode_security_group: "bootnode-security"

#netstat
netstat_instance_type: "t2.large"
netstat_instance_name: "netstat"
netstat_count_instances: "1"
netstat_security_group: "netstat-security"

#mining
mining_instance_type: "t2.large"
mining_instance_name: "mining"
mining_count_instances: "1"
mining_security_group: "mining-security"
