---

become_method: sudo

NODE_PWD: "node.pwd" # don't change this one

SCRIPTS_MOC_BRANCH: "dai"
SCRIPTS_VALIDATOR_BRANCH: "dai"
MAIN_REPO_FETCH: "poanetwork"
GENESIS_BRANCH: "dai"
GENESIS_NETWORK_NAME: "DaiChain"

MOC_ADDRESS: "0xcace5b3c29211740e595850e80478416ee77ca21"
BLK_GAS_LIMIT: "10000000"