---
ssh_root:
    - "{{ lookup('file', 'files/admins.pub') }}"

snmp_syslocation: "USA"
snmp_ipsubnet:    "172.16.0.0/16"

nameservers:
  - "8.8.8.8"
  - "8.8.4.4"

ntpservers:
  - "server 0.us.pool.ntp.org"
  - "server 1.us.pool.ntp.org"
  - "server 2.us.pool.ntp.org"
  - "server 3.us.pool.ntp.org"

image: "ami-9d04e4e5"
region: "us-west-2"

NODE_PWD: "node.pwd" # don't change this one
NODE_SOURCE_DEB: "https://deb.nodesource.com/node_8.x"
PARITY_BIN_LOC: "https://github.com/oraclesorg/binary-releases/releases/download/1.8.3/parity"

SCRIPTS_MOC_BRANCH: "master"
SCRIPTS_VALIDATOR_BRANCH: "master"
MAIN_REPO_FETCH: "oraclesorg"
TEMPLATES_BRANCH: "dev-mainnet"
GENESIS_BRANCH: "master"

MOC_ADDRESS: "0xdd0bb0e2a1594240fed0c2f2c17c1e9ab4f87126"
TX_GAS_LIMIT: "6700000"

#bootnode
bootnode_instance_type: "t2.large"
bootnode_instance_name: "bootnode"
bootnode_count_instances: "1"
bootnode_security_group: "bootnode-security"

#netstat
netstat_instance_type: "t2.large"
netstat_instance_name: "netstat"
netstat_count_instances: "1"
netstat_security_group: "netstat-security"

#validator
validator_instance_type: "t2.large"
validator_instance_name: "validator"
validator_count_instances: "1"
validator_security_group: "validator-security"

#moc
moc_instance_type: "t2.large"
moc_instance_name: "moc"
moc_count_instances: "1"
moc_security_group: "moc-security"

#explorer
explorer_instance_type: "t2.large"
explorer_instance_name: "explorer"
explorer_count_instances: "1"
explorer_security_group: "explorer-security"

#restrict network access to instances
allow_bootnode_ssh: true
allow_bootnode_p2p: true
allow_bootnode_rpc: true

allow_explorer_ssh: true
allow_explorer_p2p: true
allow_explorer_http: true

allow_moc_ssh: true
allow_moc_p2p: true

allow_netstat_ssh: true
allow_netstat_http: true

allow_validator_ssh: true
allow_validator_p2p: true

################################################################
