---
ssh_root:
    - "{{ lookup('file', 'files/admins.pub') }}"

snmp_syslocation: "USA"
snmp_ipsubnet:    "172.16.0.0/16"

nameservers:
  - "8.8.8.8"
  - "8.8.4.4"

ntpservers:
  - ""

access_key: "_INSERT KEY HERE_"
secret_key: "_INSERT SECRET HERE_"

awskeypair_name: "keypairname"
instance_type: "t2.large"
image: "ami-9d04e4e5"
region: "us-west-2"
instance_name: "bootnode"
count_instances: "1"
vpc_subnet_id: "subnet-ID-number"
