username: "blockscout"
users:
- name: "{{ username }}"
home: "/home/{{ username }}"

install_debug_tools: "no"
reboot_after_completion: false

blockscout_version: "master"
db_user: "blockscout"
db_user_password: "dvYYTbhdhuuOLMf74ghu"
