access_key: "INSERT KEY HERE"
secret_key: "INSERT SECRET HERE"
awskeypair_name: "keypairname"

vpc_subnet_id: "subnet-ID-number"

NODE_FULLNAME: "INSERT NODENAME"
NODE_ADMIN_EMAIL: "INSERT@EMAIL"

NETSTATS_SERVER: "INSERT FULL URL"
NETSTATS_SECRET: "INSERT SECRET"

MINING_KEYFILE: 'INSERT HERE'
MINING_ADDRESS: "INSERT HERE"
MINING_KEYPASS: "INSERT HERE"
