files/*.pub
*.retry
group_vars/all
group_vars/bootnode
group_vars/explorer
group_vars/validator
group_vars/netstat
group_vars/moc
group_vars/ubuntu
group_vars/centos

hosts

.vagrant/*
ubuntu-xenial-16.04-cloudimg-console.log
