# This is the default ansible 'hosts' file.
#
# It should live in /etc/ansible/hosts
#
#   - Comments begin with the '#' character
#   - Blank lines are ignored
#   - Groups of hosts are delimited by [header] elements
#   - You can enter hostnames or ip addresses
#   - A hostname/ip can be a member of multiple groups

[bootnode]
node01.example.com

[moc]
node02.example.com

[netstat]

[validator]
node03.example.com

[explorer]

[blockscout]

[poa:children]
bootnode
moc
netstat
validator
explorer
blockscout

[centos]
node03.example.com

[ubuntu]
node01.example.com
node02.example.com
