[install_err]
path = /var/lib/waagent/custom-script/download/0/stderr
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[install_out]
path = /var/lib/waagent/custom-script/download/0/stdout
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[dashboard_err]
path = /home/{{ username }}/logs/dashboard.err
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[dashboard_out]
path = /home/{{ username }}/logs/dashboard.out
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[parity_log]
path = /home/{{ username }}/logs/parity.log
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[parity_err]
path = /home/{{ username }}/logs/parity.err
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[parity_out]
path = /home/{{ username }}/logs/parity.out
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[netstats_daemon_err]
path = /home/{{ username }}/logs/netstats_daemon.err
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[netstats_daemon_out]
path = /home/{{ username }}/logs/netstats_daemon.out
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[explorer_err]
path = /home/{{ username }}/logs/explorer.err
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
[explorer_out]
path = /home/{{ username }}/logs/explorer.out
destination = dev-mainnet/{{ ansible_default_ipv4.address }}
