[Unit]
Description=poa pm2 service
After=network.target
[Service]
Type=oneshot
RemainAfterExit=true
User={{ username }}
Group={{ username }}
WorkingDirectory={{ home }}
ExecStart=/usr/bin/pm2 ping
[Install]
WantedBy=multi-user.target
