#!/bin/bash
cd "{{ home }}/oracles-scripts/scripts/"
echo \"Starting at \\\$(date)\" >> \"/home/{{ username }}/logs/transferRewardToPayoutKey.out\"
echo \"Starting at \\\$(date)\" >> \"/home/{{ username }}/logs/transferRewardToPayoutKey.err\"
node {{ home }}/oracles-scripts/scripts/transferRewardToPayoutKey.js >> \"/home/{{ username }}/logs/transferRewardToPayoutKey.out\" 2>> \"/home/${{ username }}/logs/transferRewardToPayoutKey.err\"
echo \"\" >> \"/home/{{ username }}/logs/transferRewardToPayoutKey.out\"
echo \"\" >> \"/home/{{ username }}/logs/transferRewardToPayoutKey.err\"
