[parity]
chain = "spec.json"
base_path = "parity_data"

[network]
reserved_peers="{{ home }}/bootnodes.txt"
nat="extip:{{ public_ip.ansible_facts.ipify_public_ip }}"
port = 30303

[footprint]
tracing = "on"
pruning = "archive"
fat_db = "on"

[misc]
log_file = "{{ home }}/logs/parity.log"
