#!/bin/bash
cd "{{ home }}/poa-scripts-validator/transferRewardToPayoutKey/"
echo "Starting at $(date)" >> "{{ home }}/logs/transferRewardToPayoutKey.out"
echo "Starting at $(date)" >> "{{ home }}/logs/transferRewardToPayoutKey.err"
/usr/bin/node {{ home }}/poa-scripts-validator/transferRewardToPayoutKey/transferRewardToPayoutKey.js >> "{{ home }}/logs/transferRewardToPayoutKey.out" 2>> "{{ home }}/logs/transferRewardToPayoutKey.err"
echo "" >> "{{ home }}/logs/transferRewardToPayoutKey.out"
echo "" >> "{{ home }}/logs/transferRewardToPayoutKey.err"
