[Unit]
Description=poa dashboard service
After=network.target
[Service]
User={{ username }}
Group={{ username }}
WorkingDirectory={{ home }}/eth-netstats
Restart=always
ExecStart=/usr/bin/npm start
[Install]
WantedBy=multi-user.target
