[Unit]
Description=poa parity orchestrator service
After=poa-parity.service
[Service]
User={{ username }}
Group={{ username }}
WorkingDirectory={{ home }}
ExecStart={{ home }}/parity-orchestrator --config=parity-orchestrator.toml
[Install]
WantedBy=multi-user.target
