[install_err]
path = /var/lib/waagent/custom-script/download/0/stderr
destination = dev-mainnet/{{ ansible_host }}
[install_out]
path = /var/lib/waagent/custom-script/download/0/stdout
destination = dev-mainnet/{{ ansible_host }}
[dashboard_err]
path = {{ logsprefix }}/dashboard.err
destination = dev-mainnet/{{ ansible_host }}
[dashboard_out]
path = {{ logsprefix }}/dashboard.out
destination = dev-mainnet/{{ ansible_host }}
[parity_log]
path = {{ logsprefix }}/parity.log
destination = dev-mainnet/{{ ansible_host }}
[parity_err]
path = {{ logsprefix }}/parity.err
destination = dev-mainnet/{{ ansible_host }}
[parity_out]
path = {{ logsprefix }}/parity.out
destination = dev-mainnet/{{ ansible_host }}
[netstats_daemon_err]
path = {{ logsprefix }}/netstats_daemon.err
destination = dev-mainnet/{{ ansible_host }}
[netstats_daemon_out]
path = {{ logsprefix }}/netstats_daemon.out
destination = dev-mainnet/{{ ansible_host }}
[explorer_err]
path = {{ logsprefix }}/explorer.err
destination = dev-mainnet/{{ ansible_host }}
[explorer_out]
path = {{ logsprefix }}/explorer.out
destination = dev-mainnet/{{ ansible_host }}
