[Unit]
Description=oracles parity service
After=network.target
[Service]
User={{ username }}
Group={{ username }}
WorkingDirectory=/home/{{ username }}
ExecStart=/home/{{ username }}/parity-nouncles --config=node.toml
Restart=always
[Install]
WantedBy=multi-user.target
