---
ssh_root:
    - "{{ lookup('file', 'files/admins.pub') }}"

###############################################################################
# This are default ubuntu variaibles. Comment them and uncomment necessary vars
# below. Be aware about ami_id, it's region specific
###############################################################################

# Ubuntu ami id for us-east-1. Select your one, if region changed.

image: "ami-0b383171"

# Ansible ssh user for Ubuntu

ansible_user: ubuntu

# Python bin location

ansible_python_interpreter: /usr/bin/python3

##############################################################################
#  This is Centos specific variables. Please uncomment and use them, if Centos
# is the distro of your choice. AMI id in "image" variable is region specific,
# so please be aware and select right one here
###############################################################################

# Your Centos image id. us-east-1 Centos 7  image is defaulted
#image: ami-9887c6e7

# User, used by ansible to ssh to host

#ansible_user: centos

# Python bin location, needed by ansible. Python2 or Python3 may be used in
# different distros. Centos 7 uses Python2

#ansible_python_interpreter: /usr/bin/python

################################################################################
#  This is distro independent AWS related variables. Configure them for your
# aws infrastructure
################################################################################

# Access and secret keys, to make access to your AWS possible

access_key: XXXX
secret_key: XXXX

awskeypair_name: "keypairname"
region: "us-east-1"
vpc_id: "vpc-ID-number"
vpc_subnet_id: "subnet-ID-number"

MAIN_REPO_FETCH: "poanetwork"
GENESIS_BRANCH: "dai-test"

###Bootnode

bootnode_instance_type: "t2.large"
bootnode_instance_name: "bootnode-{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}"
bootnode_count_instances: "1"

bootnode_security_group: "{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}-bootnode-security"

associate_bootnode_elastic_ip: false

allow_bootnode_ssh: true
allow_bootnode_p2p: true
allow_bootnode_rpc: false

###Explorer

explorer_instance_type: "t2.large"
explorer_instance_name: "explorer-{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}"
explorer_count_instances: "1"

explorer_security_group: "{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}-explorer-security"

allow_explorer_ssh: true
allow_explorer_p2p: true
allow_explorer_http: true


###Moc

moc_instance_type: "t2.large"
moc_instance_name: "moc-{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}"
moc_count_instances: "1"

moc_security_group: "{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}-moc-security"

allow_moc_ssh: true
allow_moc_p2p: true

###Netstat

netstat_instance_type: "t2.large"
netstat_instance_name: "netstat-{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}"
netstat_count_instances: "1"

netstat_security_group: "{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}-netstat-security"

allow_netstat_ssh: true
allow_netstat_http: true

###Validator

validator_instance_type: "t2.large"
validator_instance_name: "validator-{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}"
validator_count_instances: "1"

validator_security_group: "{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}-validator-security"
associate_validator_elastic_ip: false

allow_validator_ssh: true
allow_validator_p2p: true

###Blockscout

blockscout_instance_type: "t2.large"
blockscout_instance_name: "blockscout-{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}"
blockscout_count_instances: "1"

blockscout_security_group: "{{ MAIN_REPO_FETCH }}-{{ GENESIS_BRANCH }}-blockscout-security"

allow_blockscout_ssh: true
allow_blockscout_p2p: true
allow_blockscout_http: false

