[
    {
        "name"                 : "netstats_daemon",
        "script"               : "app.js",
        "log_date_format"      : "YYYY-MM-DD HH:mm:SS Z",
        "error_file"           : "{{ home }}/logs/netstats_daemon.err",
        "out_file"             : "{{ home }}/logs/netstats_daemon.out",
        "merge_logs"           : false,
        "watch"                : false,
        "max_restarts"         : 100,
        "exec_interpreter"     : "node",
        "exec_mode"            : "fork_mode",
        "env":
        {
            "NODE_ENV"         : "production",
            "RPC_HOST"         : "localhost",
            "RPC_PORT"         : "8545",
            "LISTENING_PORT"   : "30303",
            "INSTANCE_NAME"    : "{{ NODE_FULLNAME }}",
            "CONTACT_DETAILS"  : "{{ NODE_ADMIN_EMAIL }}",
            "WS_SERVER"        : "{{ NETSTATS_SERVER }}",
            "WS_SECRET"        : "{{ NETSTATS_SECRET }}",
            "VERBOSITY"        : 2
        }
    }
]
